<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{
        margin: 0;
      }
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    ul{
      overflow: hidden;
    }
     
     li{
      display: inline-block;
      padding: 10px;
      background-color: rgb(153, 102, 124);
     }
      
     p{
      width: 50%;
      margin: 0 auto;
      padding: 16px;
      background-color: #2464;
     }

     a{
      text-decoration: none;
      color: #fff;
      padding: 0;
     }

     
    </style>
  </head>
  <body>
    <ul >
      
      <li > <a href="Home">Home</a></li>
      <li ><a href="Contact">Contact</a></li>
      <li ><a href="Product">Product</a></li>
      <li ><a href="About">About</a></li>

    </ul>
    <p>
     {{%CONTENT%}}
    </p>
  </body>
</html>
 